@import "tailwindcss";


body {
  font-family: 'Lato', sans-serif;
}

/* Hide scrollbar for all browsers */
.no-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer & Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.social-btn {
  @apply text-white p-3 rounded-lg hover:opacity-80 transition;
}

